body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 2rem;
}

.footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #007bff;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    margin-left: 0.5rem;
}

.navbar button::before, button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.navbar button::before {
    left: -10px;
    background-color: #240046;
}

.navbar button::after {
    right: -10px;
    background-color: #5a189a;
}

.navbar button:hover::before, button:hover::after {
    width: 58%;
}

.navbar button:hover span {
    color: #e0aaff;
    transition: 0.3s;
}

.navbar button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

.navbar {
    background-color: #e8e8e8;
    border-bottom: 1px solid #e3e7f1;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .nav-buttons {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar a, a:visited, a:active, a:hover, a:link:active {
    text-decoration: none;
}

.navbar img {
    margin-right: 1rem;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
}

.container {
  margin-top: 4rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu {
    padding-bottom: 100px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#menu .dish {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

#menu .dish-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .dish-header h3 {
    margin: 0;
}

#menu .price {
    font-weight: bold;
}

#menu .description, #menu .category {
    font-size: 0.9em;
    color: #555;
    margin: 5px 0 0;
}

.header {
    background-image: url("PizzaBG.png");
    font-size: 2rem;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    text-align: center;
}

.header h1, .header p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

.header p {
    border: 1px solid white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.filter {
    margin: 20px 0;
    text-align: center;
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 5px;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    #menu {
        width: 75%;
    }
}

@media only screen and (orientation: portrait) or (max-width: 480px) {
    #menu {
        width: 100%;
    }

    #menu .dish {
        padding: 5px 0;
    }
}

@media only screen and (max-width: 768px) {
    .nav-buttons {
        flex-direction: column;
        align-items: center;
    }

    .nav-button {
        width: 100%;
        margin: 0.5rem 0;
    }
}

@media only screen and (orientation: portrait) or (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-buttons {
        width: 100%;
    }

    .nav-button {
        width: 100%;
        margin: 0.5rem 0;
    }
}